aiohttp
APScheduler
async-timeout
attrs
beautifulsoup4
certifi
chardet
cycler
discord.py==1.5.1
humanfriendly
idna
kiwisolver
matplotlib
multidict
numpy
Pillow
psutil
psycopg2
pyparsing
python-dateutil
python-dotenv
pytz
six
soupsieve
typing-extensions
tzlocal
yarl
